{% load static %}
<!doctype html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title|default:"Zento Marketplace" }}</title>
    <link rel="icon" href="{% static 'apps/assets/img/favicon.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'apps/assets/css/style.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% block extra_head %}{% endblock %}
</head>
<body data-authenticated="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"
      data-login-url="{% url 'apps:login' %}">
{% if not compact_layout %}
    {% include "includes/topbar.html" %}
{% endif %}
{% include "includes/header.html" %}

{% block content %}{% endblock %}

{% if not compact_layout %}
    {% include "includes/footer.html" %}
{% endif %}
<script src="{% static 'apps/assets/js/app.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
