{% extends "base.html" %}

{% block content %}
<main class="main">
    <div class="container">
        <div class="breadcrumbs">Bosh sahifa / Taqqoslash</div>
        <h1 class="page-title">Mahsulotlarni taqqoslash</h1>
        <div class="compare-wrap">
            <table class="compare-table">
                <tr>
                    <th>Xususiyat</th>
                    <th><img
                            src="https://images.unsplash.com/photo-1598327105666-5b89351aff97?auto=format&fit=crop&w=400&q=80">Samsung
                        Galaxy A55<br><b>3 589 000 so‘m</b><br>
                        <button class="btn" data-cart>Savatga</button>
                    </th>
                    <th><img
                            src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?auto=format&fit=crop&w=400&q=80">Xiaomi
                        Redmi Note 13 Pro<br><b>2 989 000 so‘m</b><br>
                        <button class="btn" data-cart>Savatga</button>
                    </th>
                    <th><img
                            src="https://images.unsplash.com/photo-1678685888221-cda773a3dcdb?auto=format&fit=crop&w=400&q=80">Apple
                        iPhone 15 Pro<br><b>14 389 000 so‘m</b><br>
                        <button class="btn" data-cart>Savatga</button>
                    </th>
                </tr>
                <tr>
                    <td>Reyting</td>
                    <td>★ 4.9</td>
                    <td>★ 4.8</td>
                    <td>★ 5.0</td>
                </tr>
                <tr>
                    <td>Ekran</td>
                    <td>6.6" AMOLED</td>
                    <td>6.67" AMOLED</td>
                    <td>6.1" OLED</td>
                </tr>
                <tr>
                    <td>Xotira</td>
                    <td>8/256 GB</td>
                    <td>8/256 GB</td>
                    <td>8/256 GB</td>
                </tr>
                <tr>
                    <td>Kamera</td>
                    <td>50 MP</td>
                    <td>200 MP</td>
                    <td>48 MP</td>
                </tr>
                <tr>
                    <td>Batareya</td>
                    <td>5000 mAh</td>
                    <td>5100 mAh</td>
                    <td>3274 mAh</td>
                </tr>
                <tr>
                    <td>Kafolat</td>
                    <td>12 oy</td>
                    <td>12 oy</td>
                    <td>12 oy</td>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock %}
