{% extends "base.html" %}

{% block content %}
<main class="main">
    <div class="container" style="max-width:900px">
        <div class="seller-row"><h1 class="page-title">Xabarnomalar</h1>
            <button class="chip">Barchasini o‘qilgan qilish</button>
        </div>
        <div class="order-card" style="border-left:4px solid var(--primary)"><b>📦 Buyurtmangiz punktga yo‘l oldi</b>
            <p>№ ZT-108248 buyurtmangizni ertaga olib ketishingiz mumkin.</p><small>12 daqiqa oldin</small></div>
        <div class="order-card"><b>🔥 Sevimli mahsulotingiz arzonlashdi</b>
            <p>Sony quloqchin narxi 12% ga tushdi.</p><small>Kecha</small></div>
        <div class="order-card"><b>🎁 Sizga yangi promokod</b>
            <p>WELCOME50 bilan 50 000 so‘m chegirma oling.</p><small>5-avgust</small></div>
    </div>
</main>
{% endblock %}
