{% extends "base.html" %}

{% block content %}
<main class="main">
    <div class="container">
        <div class="seller-box" style="background:linear-gradient(120deg,#ede7ff,#e8f7ff);padding:28px">
            <div class="seller-row">
                <div><h1 style="margin:0">Zento Electronics</h1>
                    <p>✓ Rasmiy do‘kon · ★ 4.9 · 38 200 obunachi · 96% buyurtma o‘z vaqtida</p></div>
                <button class="btn">+ Obuna bo‘lish</button>
            </div>
        </div>
        <nav class="tabs"><a>Do‘kon bosh sahifasi</a><a>Barcha mahsulotlar</a><a>Sharhlar</a><a>Do‘kon haqida</a></nav>
        <section class="section">
            <div class="section-head"><h2>Do‘kon bestsellerlari</h2></div>
            <div class="product-grid">
                <article class="product">
                    <div class="product-img"><img
                            src="https://images.unsplash.com/photo-1598327105666-5b89351aff97?auto=format&fit=crop&w=500&q=80">
                    </div>
                    <div class="product-body"><p class="product-title">Samsung Galaxy A55 5G</p><b class="price">3 589
                        000 so‘m</b></div>
                </article>
                <article class="product">
                    <div class="product-img"><img
                            src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?auto=format&fit=crop&w=500&q=80">
                    </div>
                    <div class="product-body"><p class="product-title">Sony simsiz quloqchin</p><b class="price">1 789
                        000 so‘m</b></div>
                </article>
                <article class="product">
                    <div class="product-img"><img
                            src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?auto=format&fit=crop&w=500&q=80">
                    </div>
                    <div class="product-body"><p class="product-title">Aqlli soat Pro</p><b class="price">479 000
                        so‘m</b></div>
                </article>
            </div>
        </section>
    </div>
</main>
{% endblock %}
